In [1]:
import pandas as pd

In [2]:
file_path ="Resources/GlobalLandTemperaturesByCountry.csv"
global_temperature_df = pd.read_csv(file_path)

In [3]:
gt_df = pd.DataFrame(global_temperature_df)
gt_df.head(10)

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland
5  1744-04-01               1.530                          4.680   Åland
6  1744-05-01               6.702                          1.789   Åland
7  1744-06-01              11.609                          1.577   Åland
8  1744-07-01              15.342                          1.410   Åland
9  1744-08-01                 NaN                            NaN   Åland

In [7]:
gt_df["dt"].isna().sum()

0