In [1]:
import pandas as pd

In [3]:
file_path ="Resources/greenhouse_gas_inventory_data_data.csv"
greenhouse_df = pd.read_csv(file_path)

In [5]:
gh_df = pd.DataFrame(greenhouse_df)
gh_df.head(10)

,country_or_area,year,value,category
0,Australia,2014,393126.946994,carbon_dioxide_co2_emissions_without_land_use_...
1,Australia,2013,396913.936530,carbon_dioxide_co2_emissions_without_land_use_...
2,Australia,2012,406462.847704,carbon_dioxide_co2_emissions_without_land_use_...
3,Australia,2011,403705.528314,carbon_dioxide_co2_emissions_without_land_use_...
4,Australia,2010,406200.993184,carbon_dioxide_co2_emissions_without_land_use_...
5,Australia,2009,408448.479000,carbon_dioxide_co2_emissions_without_land_use_...
6,Australia,2008,404237.828214,carbon_dioxide_co2_emissions_without_land_use_...
7,Australia,2007,398816.453544,carbon_dioxide_co2_emissions_without_land_use_...
8,Australia,2006,391134.100909,carbon_dioxide_co2_emissions_without_land_use_...
9,Australia,2005,385581.132806,carbon_dioxide_co2_emissions_without_land_use_...